@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.coin {
    width: 1.5rem;
    height: 1.5rem;
}

.coin-grayscale {
    width: 1.5rem;
    height: 1.5rem;
    filter: grayscale(100%);
}

.coin-container {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1rem);
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    background-color: #DCDCDC;
}

.section {
    font-size: 1.5rem;
    padding: 1rem;
}

.left-side {
    position: relative;
    background-color: #201A26;
}

.profile {
    display: grid;
    margin: auto;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.profile-avatar {
    width: 90%;
}

.profile-data {
    color: #FFF;
    font-size: 60px;
    word-wrap: break-word;
    max-width: 12rem;
}

.profile-header {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: #291F37;
    padding: 1rem;
}

.profile-mid {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
}

.profile-img {
    width: 100%;
    height: 100%;
    min-width: 5rem;
    max-width: 20rem;
}

.profile-line {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.75rem;
    border-left: 4px solid #fc8b03;
}

.left-side ul {
    padding: 0;
    list-style-type: none;
}

.left-side ul li {
    display: flex;
    color: #fff;
    background: #050b11;
    margin: 10px 0;
    position: relative;
    width: 100%;
    font-size: 18px;
}

.left-side ul li .icon {
    color: #ffffff;
    position: relative;
    margin-right: 15px;
}

.contacts-data {
    color: #fc8b03;
    font-size: 40px;
}

.main-content {
    background-color: #DCDCDC;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 1rem;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #eee4d8;
    min-width: 20rem;
}

.container {
    display: flex;
    align-items: center;
    margin: auto auto;
    min-width: 20rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.title {
    margin-bottom: 20px;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.main-content ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.main-content ul li .info {
    margin-bottom: 20px;
}

.main-content ul li:last-child .info {
    margin-bottom: 0;
}

.semi-bold {
    font-weight: 500;
    font-size: 16px;
}

.skills-profile {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.skills-profile .title {
    color: #fc8b03;
}

.skill-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.skill-group ul li {
    line-height: 20%;
}

.skill-languages {
    display: flex;
    width: auto;
}

.mario {
    height: 160px;
}

.bouser {
    height: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image {
    display: flex;
    align-items: center;
    max-width: 200;
    margin: auto;
}
